body {
  margin: 0;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.card {
  text-align: center; 
  border: grey solid 1px; 
  padding: 1rem;
  width: 25rem;
  height: 35rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 5px 5px #3AA7A3;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  /* #FFCB47 */
}

.card:hover {
  transform: scale(0.95)
}

.card img {
    justify-self: center;
    height: 12rem;
    width: auto;
    background-size: cover
}


.form-style-3{
	max-width: 450px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  margin: 0;
    position: absolute;
    
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.form-style-3 label{
	display:block;
  margin-bottom: 10px;
  
}
.form-style-3 label > span{
	float: left;
	width: 100px;
	color: #FFCB47;
	font-weight: bold;
	font-size: 15px;
	text-shadow: 0.5px 0.5px 1px #fff;
}
.form-style-3 fieldset{
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	margin: 0px 0px 10px 0px;
	border: 1px solid #FFD2D2;
	padding: 20px;
	background: #E85F5C;
	box-shadow: inset 0px 0px 15px #FFCB47;
	-moz-box-shadow: inset 0px 0px 15px #FFCB47;
	-webkit-box-shadow: inset 0px 0px 15px #FFCB47;
}
.form-style-3 fieldset legend{
	color:#3AA7A3;
  border-top: 3px solid #3AA7A3;
  border-bottom: 3px solid #3AA7A3;
	border-left: 3px solid #3AA7A3;
	border-right: 3px solid #3AA7A3;
	border-radius: 5px 5px 1px 1px;
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	background: #FFF4F4;
	padding: 0px 8px 3px 8px;
	box-shadow: -0px -1px 2px #F1F1F1;
	-moz-box-shadow:-0px -1px 2px #F1F1F1;
	-webkit-box-shadow:-0px -1px 2px #F1F1F1;
	font-weight: normal;
	font-size: 20px;
}
.form-style-3 textarea{
	width:250px;
	height:100px;
}
.form-style-3 input[type=text],
.form-style-3 input[type=url],
.form-style-3 input[type=datetime],
.form-style-3 input[type=number],
.form-style-3 input[type=search],
.form-style-3 input[type=time],
.form-style-3 input[type=url],
.form-style-3 input[type=email],
.form-style-3 select, 
.form-style-3 textarea{
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border: 1px solid #FFC2DC;
	outline: none;
	color: #3AA7A3;
	padding: 5px 8px 5px 8px;
	box-shadow: inset 1px 1px 4px #FFD5E7;
	-moz-box-shadow: inset 1px 1px 4px #FFD5E7;
	-webkit-box-shadow: inset 1px 1px 4px #FFD5E7;
	background: #FFEFF6;
	width:50%;
}
.form-style-3  input[type=submit],
.form-style-3  input[type=button]{
	background: #3AA7A3;
	border: 1px solid #C94A81;
	padding: 5px 15px 5px 15px;
	color: #FFCBE2;
	box-shadow: inset -1px -1px 3px #FF62A7;
	-moz-box-shadow: inset -1px -1px 3px #FF62A7;
	-webkit-box-shadow: inset -1px -1px 3px #FF62A7;
	border-radius: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;	
  font-weight: bold;
  
}
.required{
	color:red;
	font-weight:normal;
}





.nav{
  background:#FFCB47;
}



.body-form-1{
  /* counter-reset: section; */
  /* text-align: center; */
  background: white;
}
.form-style-6{
	max-width: 450px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.form-style-6 label{
	display:block;
	margin-bottom: 30px;
}
.form-style-6 label > span{
  float: left;
	width: 100px;
	color: #FFCB47;
	font-weight: bold;
	font-size: 18px;
	text-shadow: 0.5px 0.5px 1px #fff;
}
.form-style-6 fieldset{
	border-radius: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 10px;
	margin: 0px 0px 0px 10px;
	border: 1px solid #FFD2D2;
	padding: 30px;
	background: #E85F5C;
	box-shadow: inset 0px 0px 15px #FFCB47;
	-moz-box-shadow: inset 0px 0px 15px #FFCB47;
	-webkit-box-shadow: inset 0px 0px 15px #FFCB47;
}
.form-style-6 fieldset legend{
	color:#3AA7A3;
  border-top: 3px solid #3AA7A3;
  border-bottom: 3px solid #3AA7A3;
	border-left: 3px solid #3AA7A3;
	border-right: 3px solid #3AA7A3;
	border-radius: 5px 5px 1px 1px;
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	background: #FFF4F4;
	padding: 10px 15px 5px 15px;
	box-shadow: -0px -1px 2px #F1F1F1;
	-moz-box-shadow:-0px -1px 2px #F1F1F1;
	-webkit-box-shadow:-0px -1px 2px #F1F1F1;
	font-weight: normal;
	font-size: 45px;
}
.form-style-6 textarea{
	width:200px;
	height:200px;
}
.form-style-6 input[type=text],
.form-style-6 input[type=password],
.form-style-6 input[type=datetime],
.form-style-6 input[type=number],
.form-style-6 input[type=search],
.form-style-6 input[type=time],
.form-style-6 input[type=url],
.form-style-6 input[type=email],
.form-style-6 select, 
.form-style-6 textarea{
  
  border-radius: 1px;
  text-align: left;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border: 1px solid #FFC2DC;
	outline: none;
	color: red;
	padding: 5px 8px 5px 8px;
	box-shadow: inset 1px 1px 4px #FFD5E7;
	-moz-box-shadow: inset 1px 1px 4px #FFD5E7;
	-webkit-box-shadow: inset 1px 1px 4px #FFD5E7;
	background: #FFEFF6;
	width: 50%;
}
.form-style-6  input[type=submit],
.form-style-6  input[type=button]{
	background: #3AA7A3;
	border: 1px solid #C94A81;
	padding: 5px 15px 5px 15px;
	color: #FFCBE2;
	box-shadow: inset -1px -1px 3px #FF62A7;
	-moz-box-shadow: inset -1px -1px 3px #FF62A7;
	-webkit-box-shadow: inset -1px -1px 3px #FF62A7;
	border-radius: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;	
  font-weight: bold;
  
}
.required{
	color:red;
	font-weight:normal;
}

ul.nav {
  list-style-type: none;
  margin: 50;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  background-color: #FFCB47;
}

ul.nav li {
  float: left;
}

ul.nav li a {
  display: block;
  font-size: 35px;
  color: #3AA7A3;
  text-align: center;
  padding: 25px 25px;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 0.5px 0.5px 1px #fff;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

ul.nav li a:hover {
  background-color: #E85F5C;
}

.nav-image{
  text-align: center;
}


